<!DOCTYPE HTML>
<html>
	<head>
		<title>工具版本控制</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<meta name="referrer" content="no-referrer"/>
		<link rel="stylesheet" href="assets/css/main.css" />
		<link rel="stylesheet" href="https://unpkg.zhimg.com/element-ui@2.15.7/lib/theme-chalk/index.css">
		<link rel="stylesheet" href="assets/css/badge.css"/>
		<link rel="stylesheet" href="assets/css/btn.css">
		<noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">
		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header" style="padding-top: 4rem;">
						<div class="inner">

							<!-- Logo -->
								<a href="https://katcloud.cn" class="logo">
									<span class="symbol"><img src="assets/logo.png" alt="" /></span><span class="title">KatCloud</span>
								</a>

							<!-- Nav -->
								<!-- <nav> -->
									
								<!-- </nav> -->

						</div>
					</header>

				<!-- Main -->
					<div id="main"> 
						<div class="inner" id="versionControl">
							<header>
								<h2>工具版本控制</h2>
								<a class="button" v-on:click="logoutConfirm()">退出登录</a>
							</header>
							<section>
								<div class="row gtr-uniform" style="margin-top: 1px; display: flex; justify-content: center; align-items: center;">
									<!-- <div class="col-6 col-12-xsmall">
										<input type="text" id="abid" v-model="abId" placeholder="输入AV号或BV号" />
									</div>
									<ul class="actions" style="margin-left: 0.9375rem;">
										<li><a href="#" class="button primary" v-on:click="abIDCheck()">获取封面</a></li>
									</ul> -->
									<form>
										<label>选择工具</label>
										<select @change="selectChange()" v-model="id">
											<option value="" hidden>请选择</option>
											<option v-for="item in allVersion" :key="item.toolId" :value="item.toolId">
												{{item.toolName}}
											</option>
										</select>
										<label style="margin-top: 20px;">输入更新的版本号</label>
										<input type="text" v-model="newVersion" placeholder="版本号" :disabled="inputDisabled"/>
										<a style="margin-top: 20px;" class="button primary" v-on:click="submitVersion()">提交</a>
									</form>
								</div>
							</section>
						</div>
					</div>

				<!-- Footer -->
					<footer id="footer">
						<div class="inner">
							<ul class="copyright">
								<li>&copy; KatCloud </li><li><a href="https://beian.miit.gov.cn/">粤 ICP 备 20013864 号</a></li>
							</ul>
						</div>
					</footer>

			</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>
			<script src="http://unpkg.zhimg.com/vue@2.6.14"></script>
			<script>Vue.config.productionTip = false</script>
			<script>Vue.config.devtools = false</script>
			<script src="https://unpkg.zhimg.com/element-ui@2.15.7/lib/index.js"></script>
			<script src="assets/js/baseUrl.js"></script>
			<script src="ToolVCjs/vcMain.js"></script>
	</body>
</html>